# C build objects
*.a
*.so
*.lo
*.o
*.dylib
*.so
*.dll
*.dSYM/

# Docs
doc/working/
doc/gh-pages/

# Test artifacts
test/testdata-*
Testing

# CMake directories
build
install

.vscode/

TODO
TODO.txt
CLAUDE.md
